@page "/profilepg"


@inject IJSRuntime JSRuntime
@inject SfDialogService sfDialogService
@inject NavigationManager navigationManager
@inject MyStateContainer myStateContainer

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Newtonsoft.Json
@using Syncfusion.Blazor.Popups;
@using JSCoreLibRazor
<div id="page" class="page">

    <!-- Header : start -->
    <header class="header">
        <div class="header-icons">
            <a class="icon" href="javascript:history.back()">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.375 20C29.375 20.2984 29.2565 20.5845 29.0455 20.7955C28.8345 21.0065 28.5484 21.125 28.25 21.125H14.4688L19.2988 25.9541C19.5101 26.1654 19.6289 26.4521 19.6289 26.7509C19.6289 27.0498 19.5101 27.3365 19.2988 27.5478C19.0874 27.7592 18.8008 27.8779 18.5019 27.8779C18.203 27.8779 17.9164 27.7592 17.705 27.5478L10.955 20.7978C10.8502 20.6933 10.7669 20.5691 10.7102 20.4324C10.6534 20.2956 10.6241 20.149 10.6241 20.0009C10.6241 19.8529 10.6534 19.7063 10.7102 19.5695C10.7669 19.4328 10.8502 19.3086 10.955 19.2041L17.705 12.4541C17.8097 12.3494 17.9339 12.2664 18.0706 12.2098C18.2074 12.1531 18.3539 12.124 18.5019 12.124C18.6499 12.124 18.7964 12.1531 18.9332 12.2098C19.0699 12.2664 19.1941 12.3494 19.2988 12.4541C19.4034 12.5587 19.4864 12.6829 19.5431 12.8197C19.5997 12.9564 19.6289 13.1029 19.6289 13.2509C19.6289 13.3989 19.5997 13.5455 19.5431 13.6822C19.4864 13.8189 19.4034 13.9432 19.2988 14.0478L14.4688 18.875H28.25C28.5484 18.875 28.8345 18.9935 29.0455 19.2045C29.2565 19.4155 29.375 19.7016 29.375 20Z" fill="white" /></svg>
            </a>
        </div>

        <div class="header-title">
            <h1>Profile</h1>
        </div>


        <div class="header-icons">
            <a class="icon" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.1934 12.8609C25.7792 11.4377 23.9743 10.4664 22.0074 10.0701C20.0405 9.67392 18.0003 9.8706 16.1453 10.6353C14.2903 11.3999 12.7042 12.6981 11.5879 14.3653C10.4716 16.0325 9.87543 17.9936 9.875 20V25.25C9.875 25.9462 10.1516 26.6139 10.6438 27.1062C11.1361 27.5984 11.8038 27.875 12.5 27.875H14C14.6962 27.875 15.3639 27.5984 15.8562 27.1062C16.3484 26.6139 16.625 25.9462 16.625 25.25V21.5C16.625 20.8038 16.3484 20.1361 15.8562 19.6438C15.3639 19.1516 14.6962 18.875 14 18.875H12.2038C12.4753 17.0008 13.4126 15.2871 14.8443 14.0475C16.276 12.808 18.1063 12.1255 20 12.125H20.06C21.9453 12.1331 23.7647 12.8197 25.1853 14.0592C26.6059 15.2986 27.5327 17.0082 27.7963 18.875H26C25.3038 18.875 24.6361 19.1516 24.1438 19.6438C23.6516 20.1361 23.375 20.8038 23.375 21.5V25.25C23.375 25.9462 23.6516 26.6139 24.1438 27.1062C24.6361 27.5984 25.3038 27.875 26 27.875H27.8375C27.7511 28.2985 27.5209 28.6791 27.1861 28.9525C26.8512 29.2258 26.4322 29.3751 26 29.375H20.75C20.4516 29.375 20.1655 29.4935 19.9545 29.7045C19.7435 29.9155 19.625 30.2016 19.625 30.5C19.625 30.7984 19.7435 31.0845 19.9545 31.2955C20.1655 31.5065 20.4516 31.625 20.75 31.625H26C27.0936 31.6238 28.1421 31.1888 28.9154 30.4154C29.6888 29.6421 30.1238 28.5936 30.125 27.5V20C30.1302 18.6757 29.8739 17.3633 29.3708 16.1383C28.8677 14.9132 28.1278 13.7995 27.1934 12.8609ZM14 21.125C14.0995 21.125 14.1948 21.1645 14.2652 21.2348C14.3355 21.3052 14.375 21.4005 14.375 21.5V25.25C14.375 25.3495 14.3355 25.4448 14.2652 25.5152C14.1948 25.5855 14.0995 25.625 14 25.625H12.5C12.4005 25.625 12.3052 25.5855 12.2348 25.5152C12.1645 25.4448 12.125 25.3495 12.125 25.25V21.125H14ZM25.625 25.25V21.5C25.625 21.4005 25.6645 21.3052 25.7348 21.2348C25.8052 21.1645 25.9005 21.125 26 21.125H27.875V25.625H26C25.9005 25.625 25.8052 25.5855 25.7348 25.5152C25.6645 25.4448 25.625 25.3495 25.625 25.25Z" fill="white" /></svg>
            </a>
            <a class="icon" href="https://play.google.com/store/apps/details?id=com.ds.dreamsmart.app">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.2959 15.455L23.0459 10.205C22.9415 10.1004 22.8174 10.0174 22.6808 9.96078C22.5442 9.90416 22.3978 9.87501 22.25 9.875H13.25C12.7527 9.875 12.2758 10.0725 11.9242 10.4242C11.5725 10.7758 11.375 11.2527 11.375 11.75V28.25C11.375 28.7473 11.5725 29.2242 11.9242 29.5758C12.2758 29.9275 12.7527 30.125 13.25 30.125H26.75C27.2473 30.125 27.7242 29.9275 28.0758 29.5758C28.4275 29.2242 28.625 28.7473 28.625 28.25V16.25C28.625 15.9519 28.5066 15.6659 28.2959 15.455ZM23 13.3438L25.1562 15.5H23V13.3438ZM13.625 27.875V12.125H20.75V16.625C20.75 16.9234 20.8685 17.2095 21.0795 17.4205C21.2905 17.6315 21.5766 17.75 21.875 17.75H26.375V27.875H13.625ZM23.0459 22.2041C23.1508 22.3086 23.234 22.4328 23.2908 22.5695C23.3476 22.7063 23.3768 22.8529 23.3768 23.0009C23.3768 23.149 23.3476 23.2956 23.2908 23.4324C23.234 23.5691 23.1508 23.6933 23.0459 23.7978L20.7959 26.0478C20.6914 26.1527 20.5672 26.2359 20.4305 26.2927C20.2937 26.3495 20.1471 26.3787 19.9991 26.3787C19.851 26.3787 19.7044 26.3495 19.5676 26.2927C19.4309 26.2359 19.3067 26.1527 19.2022 26.0478L16.9522 23.7978C16.7408 23.5865 16.6221 23.2998 16.6221 23.0009C16.6221 22.7021 16.7408 22.4154 16.9522 22.2041C17.1635 21.9927 17.4502 21.874 17.7491 21.874C18.0479 21.874 18.3346 21.9927 18.5459 22.2041L18.875 22.5312V19.625C18.875 19.3266 18.9935 19.0405 19.2045 18.8295C19.4155 18.6185 19.7016 18.5 20 18.5C20.2984 18.5 20.5845 18.6185 20.7955 18.8295C21.0065 19.0405 21.125 19.3266 21.125 19.625V22.5312L21.4541 22.2012C21.5587 22.0968 21.683 22.0141 21.8196 21.9577C21.9563 21.9013 22.1027 21.8724 22.2506 21.8727C22.3984 21.873 22.5448 21.9024 22.6812 21.9592C22.8177 22.0161 22.9416 22.0993 23.0459 22.2041Z" fill="white" /></svg>
            </a>
            <a class="icon" onclick="@OnClickChngPin">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.5 15.125H17.375V13.25C17.375 12.5538 17.6516 11.8861 18.1438 11.3938C18.6361 10.9016 19.3038 10.625 20 10.625C21.2666 10.625 22.4047 11.5269 22.6475 12.7241C22.6769 12.8688 22.7346 13.0064 22.8172 13.1289C22.8998 13.2514 23.0057 13.3565 23.1289 13.438C23.252 13.5196 23.3901 13.5761 23.5351 13.6043C23.6801 13.6325 23.8293 13.6319 23.9741 13.6025C24.1188 13.5731 24.2564 13.5154 24.3789 13.4328C24.5014 13.3502 24.6065 13.2443 24.688 13.1211C24.7696 12.998 24.8261 12.8599 24.8543 12.7149C24.8825 12.5699 24.8819 12.4207 24.8525 12.2759C24.3941 10.0156 22.3531 8.375 20 8.375C18.7075 8.37649 17.4684 8.89058 16.5545 9.8045C15.6406 10.7184 15.1265 11.9575 15.125 13.25V15.125H12.5C12.0027 15.125 11.5258 15.3225 11.1742 15.6742C10.8225 16.0258 10.625 16.5027 10.625 17V27.5C10.625 27.9973 10.8225 28.4742 11.1742 28.8258C11.5258 29.1775 12.0027 29.375 12.5 29.375H27.5C27.9973 29.375 28.4742 29.1775 28.8258 28.8258C29.1775 28.4742 29.375 27.9973 29.375 27.5V17C29.375 16.5027 29.1775 16.0258 28.8258 15.6742C28.4742 15.3225 27.9973 15.125 27.5 15.125ZM27.125 27.125H12.875V17.375H27.125V27.125ZM18.5 22.25C18.5 21.9533 18.588 21.6633 18.7528 21.4166C18.9176 21.17 19.1519 20.9777 19.426 20.8642C19.7001 20.7506 20.0017 20.7209 20.2926 20.7788C20.5836 20.8367 20.8509 20.9796 21.0607 21.1893C21.2704 21.3991 21.4133 21.6664 21.4712 21.9574C21.5291 22.2483 21.4994 22.5499 21.3858 22.824C21.2723 23.0981 21.08 23.3324 20.8334 23.4972C20.5867 23.662 20.2967 23.75 20 23.75C19.6022 23.75 19.2206 23.592 18.9393 23.3107C18.658 23.0294 18.5 22.6478 18.5 22.25Z" fill="white" /></svg>
            </a>
            <a class="icon" onclick="@UserActLog">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M16 2L20.9997 7L21 20.9925C21 21.5489 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44749 2 3.9985 2H16ZM15 4H5V20H19V8H15V4ZM13 9V13H16V15H11V9H13Z" fill="rgba(255,255,255,1)"></path></svg>
            </a>
            <a class="icon" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalOne">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.875 20V12.5C18.875 12.2016 18.9935 11.9155 19.2045 11.7045C19.4155 11.4935 19.7016 11.375 20 11.375C20.2984 11.375 20.5845 11.4935 20.7955 11.7045C21.0065 11.9155 21.125 12.2016 21.125 12.5V20C21.125 20.2984 21.0065 20.5845 20.7955 20.7955C20.5845 21.0065 20.2984 21.125 20 21.125C19.7016 21.125 19.4155 21.0065 19.2045 20.7955C18.9935 20.5845 18.875 20.2984 18.875 20ZM25.1141 12.3125C24.8643 12.1587 24.5642 12.1085 24.278 12.1727C23.9917 12.2369 23.7419 12.4104 23.5817 12.6562C23.4215 12.902 23.3637 13.2006 23.4205 13.4884C23.4774 13.7762 23.6444 14.0304 23.8859 14.1969C25.9447 15.5347 27.125 17.6562 27.125 20C27.125 21.8897 26.3743 23.7019 25.0381 25.0381C23.7019 26.3743 21.8897 27.125 20 27.125C18.1103 27.125 16.2981 26.3743 14.9619 25.0381C13.6257 23.7019 12.875 21.8897 12.875 20C12.875 17.6562 14.0553 15.5347 16.1141 14.1922C16.3428 14.0208 16.4977 13.7687 16.5473 13.4872C16.5969 13.2057 16.5375 12.9159 16.3812 12.6766C16.2248 12.4373 15.9833 12.2665 15.7055 12.1989C15.4278 12.1313 15.1348 12.1719 14.8859 12.3125C12.1775 14.0731 10.625 16.8772 10.625 20C10.625 22.4864 11.6127 24.871 13.3709 26.6291C15.129 28.3873 17.5136 29.375 20 29.375C22.4864 29.375 24.871 28.3873 26.6291 26.6291C28.3873 24.871 29.375 22.4864 29.375 20C29.375 16.8772 27.8225 14.0731 25.1141 12.3125Z" fill="white" /></svg>
            </a>
        </div>
    </header>
    <!-- Header : end -->
    <!-- Content : start -->
    <section class="section content px-2">
        <EditForm Model="@DSRptDevDet" class="register-form d-flex flex-column">
            <div class="mb-3">
                <label class="form-label">Party</label>
                <SfTextBox @bind-Value="DSRptDevDet.Party" class="form-control" Readonly></SfTextBox>
            </div>
            <div class="mb-3">
                <label class="form-label">Contact person</label>
                <SfTextBox @bind-Value="DSRptDevDet.CPerson" class="form-control" Readonly></SfTextBox>
            </div>
            <div class="mb-3">
                <label class="form-label">Mobile no.</label>
                <SfTextBox @bind-Value="DSRptDevDet.MobileNo" class="form-control" Readonly></SfTextBox>
            </div>
@*            <div class="mb-3">
                 <label class="form-label">End Date</label>
                 <SfTextBox Value="31/03/2024" class="form-control" Readonly></SfTextBox>
            </div>
*@
        </EditForm>
     </section>
    
    <!-- Content : end -->
    <!-- Modal1 : start -->
        <HelpDesk></HelpDesk>
    <!-- Modal1 : end -->
    <!-- Modal2 : start -->
    <ExitModal></ExitModal>
    <!-- Modal2 : end -->

</div>
@code {

    public static DevRegDet regDet;
    private DSRptDevDet DSRptDevDet;

    protected override Task OnInitializedAsync()
    {
        regDet = new DevRegDet();
        DSRptDevDet = myStateContainer.Value;
        return base.OnInitializedAsync();
    }
    public async Task OnClickChngPin()
    {
        navigationManager.NavigateTo("/chngPin");
    }
    public void UserActLog()
    {
        navigationManager.NavigateTo("/useractlogcrit");
    }
}
